[Unit]
Description=OpsLab API
After=network.target

[Service]
Type=simple
User=marcos
WorkingDirectory=/var/www/opslab/app
EnvironmentFile=/etc/opslab/opslab-api.env
ExecStart=/home/marcos/.nvm/versions/node/v24.19.0/bin/node /var/www/opslab/app/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
